@import url("https://googleapis.com");

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

/* ////////////////// main page css  /////////////////////////////////////  */
.main-page {

  background-color: white;

  display: flex;
  min-height: 100dvh;
   /*
Check read me file for explanation*/
}

@media(max-width:1000px) and (min-width:601px){
.main-page{
    margin-top: -40px;

  }
}


@media (max-width: 600px){

  .main-page{
    margin-top: -34px;

  }
}

