
/* ///////////////////// main section starts //////////////////////////////////// */

.main-page .intro {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10dvh;
  opacity: 1;
}

.main-page .intro.fade-out {
  animation: opacityAnimation 1s ease 1;
}

.slidein {
  animation: slideIn 8s ease-in-out 1;
}

.intro .intro-img-con {
  width: 35%;
  border-style: solid;
  border-color: green;
  border-style: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow:
    0 12px 20px -8px rgba(0, 50, 30, 0.3),
    /* Tight dark green shadow underneath */ 0 25px 40px -12px
      rgba(0, 0, 0, 0.15); /* Large soft fade that spans lower */

  transition: all 0.5s ease;

  animation: floatUpAndDown 3s ease-in-out infinite;
}

.intro .intro-img-con img {
  object-fit: contain;
  width: 100%;

  vertical-align: bottom;
  border-radius: 20px;
}

.description {
  width: 55%;
  vertical-align: top;
}

.description a {
  color: #00a86b;
  font-family: "Poppins";
  font-weight: bolder;
  font-size: clamp(0.2rem, 7vw, 40rem);
}

.description h4 {
  text-align: left;
  color: gray;
  width: 50%;
}

.description button {
  padding: 1%;
  width: 20%;
  border-radius: 20px;

  font-weight: bold;
  font-size: 18px;

  border-style: solid;
  border-color: #00a86b;
  color: #00a86b;
  border-width: 5px;

  box-shadow: #00a86b;

  transition: all 0.5s ease;
}

.description button:hover {
  background-color: #00a86b;
  color: white;
  box-shadow:
    0 12px 20px -8px rgba(0, 50, 30, 0.3),
    0 25px 40px -12px rgba(0, 0, 0, 0.15);
  transform: translate(0, -5px);
}

/*/////////////////////////// main page ends ///////////////////////////////////////*/

/* //////////////////////////////////  diamonds start /////////////////////////// */

.diamonds-js {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 90%;

  text-align: center;
}

.diamonds-inner {
  animation: infiniteDiamonds 10s linear infinite;
}