.intro{


}

.about-main{

  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90dvh;
  margin-left: -6%;
  font-family: 'Poppins', sans-serif;

  overflow-y: auto;
}

.about-main::-webkit-scrollbar{
  display: none;
}

.top-half{
    display: flex;
  justify-content: space-between;
  align-items: center;

}

.ab-info{
  width: 50%;
  border-style: solid;
  padding: 1%;
  border-width: 0.5px;
  border-color: rgb(203, 203, 203);
  border-radius: 10px;
  font-size: clamp(0.2rem, 1vw + 0.6dvh, 10rem);
 
}

.ab-info p{
  font-size: clamp(0.2rem, 6vw + 2dvh, 10rem);
  font-family: 'Open Sans';
  font-weight: bolder;
  margin-bottom: -1%;
}

.ab-info a{
  color: gray;
  margin-bottom: 10%;
}

.ab-info button{
  background-color: white;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-color: rgb(0, 255, 174);
  border-width: 4px;
  border-style: solid;
  border-radius: 40px;
  font-weight: bolder;
  font-size: clamp(0.2rem, 1vw + 0.4dvh, 10rem);

  transition: transform 0.5s;
}

.ab-info button:hover{
  transform: translate(0, -15%);
  color: white;
  background-color: rgb(0, 255, 174);
    box-shadow:
    0 12px 20px -8px rgba(0, 50, 30, 0.3),
    /* Tight dark green shadow underneath */ 0 25px 40px -12px
      rgba(0, 0, 0, 0.15); /* Large soft fade that spans lower */
}

.ab-imgcon{
  width: 40%;
  border-radius: 100px;
  overflow: hidden;
  height: fit-content;
    box-shadow:
    0 12px 20px -8px rgba(0, 50, 30, 0.3),
    /* Tight dark green shadow underneath */ 0 25px 40px -12px
      rgba(0, 0, 0, 0.15); /* Large soft fade that spans lower */


}

.ab-imgcon img{
  width: 100%;
  border-radius: 10px;
  vertical-align: bottom;
}


.bottom-half{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.2rem, 1.2vw + 0.4dvh, 10rem);
  padding: 1%;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(203, 203, 203);
  border-radius: 10px;
}

.extra-half{
    border-style: solid;
  border-width: 0.5px;
    border-color: rgb(203, 203, 203);
  border-radius: 10px;
  font-size: clamp(0.2rem, 1.2vw + 0.4dvh, 10rem);
  padding: 1%;
}

.gray{
  color: gray;
}

.green{
  color: rgb(0, 255, 174);
}

.green a{
  text-decoration: none;
  color: rgb(0, 255, 174);
}

@media(max-width: 1000px) and (min-width: 601px){

  .about-main{
    width: 96%;
    margin-left: 0;
    padding-bottom: 20%;

  }

  .top-half{
    gap: 10px;
    padding: 1%;
  }

  .ab-info{
    font-size: clamp(0.2rem, 1.8vw + 0.8dvh, 10rem);
  }

  .ab-info button{
    font-size: clamp(0.2rem, 1.8vw, 10rem);
  }

  .ab-imgcon{
    width: 40%;
  }

  .bottom-half{
    flex-direction: column;
    align-items: start;
    font-size: clamp(0.2rem, 1.8vw, 10rem);
  }

  .extra-half{
    font-size: clamp(0.2rem, 1.8vw, 10rem);
  }

} 


@media (max-width: 600px){

  .about-main{
    width: 96%;
    height: 90dvh;
    margin-left: 0;
  }

  .top-half{
    gap: 10px;
    padding: 1%;
  }

  .ab-info{
    font-size: clamp(0.2rem, 3vw, 10rem);
  }

  .ab-info button{
    font-size: clamp(0.2rem, 3vw, 10rem);
  }

  .ab-imgcon{
    width: 48%;
  }

  .bottom-half{
    flex-direction: column;
    align-items: start;
    font-size: clamp(0.2rem, 3vw, 10rem);
  }

  .extra-half{
    font-size: clamp(0.2rem, 3vw, 10rem);
  }

}







