.intro{


}

.about-main{

  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90dvh;
  margin-left: -6%;
  font-family: 'Poppins', sans-serif;

  overflow-y: auto;
}

.about-main::-webkit-scrollbar{
  display: none;
}

.top-half{
    display: flex;
  align-items: center;
  justify-content:center;
}

.ab-info{
  width: 85%;
  height: fit-content;
  border-style: solid;
  padding: 1%;
  border-width: 0.5px;
  border-color: rgb(203, 203, 203);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: clamp(0.2rem, 1vw + 0.2dvh, 10rem);

  background-color: rgb(247, 250, 255);
}

.ab-info p{
  font-size: clamp(0.2rem, 3vw + 1.2dvh, 10rem);
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  margin-bottom: 1%;
  margin-top: 2.5%;
}

.ab-info-text{
  color: gray;
  font-size: clamp(0.2rem, 1vw + 0.2dvh, 10rem);

}

.ab-info button{
  background-color: white;
  padding: 1.4%;
  padding-left: 6%;
  padding-right: 6%;
  border-color: #005F69;
  border-width: 4px;
  border-style: solid;
  border-radius: 40px;
  font-weight: bolder;
  font-size: clamp(0.2rem, 1vw + 0.2dvh, 10rem);

  transition: transform 0.5s;
}

.ab-info button:hover{
  transform: translate(0, -15%);
  color: white;
  background-color: #005F69;
    box-shadow:
    0 12px 20px -8px rgba(0, 50, 30, 0.3),
    /* Tight dark green shadow underneath */ 0 25px 40px -12px
      rgba(0, 0, 0, 0.15); /* Large soft fade that spans lower */
}

.ab-imgcon{
  width: 30%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
    box-shadow:
    0 12px 20px -8px rgba(0, 50, 30, 0.3),
    /* Tight dark green shadow underneath */ 0 25px 40px -12px
      rgba(0, 0, 0, 0.15); /* Large soft fade that spans lower */
      vertical-align: bottom;


}

.ab-imgcon img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}


.bottom-half{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.2rem, 1vw + 0.2dvh, 10rem);
  padding: 1%;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(203, 203, 203);
  border-radius: 10px;

  background-color: rgb(247, 250, 255);
}

.extra-half{
    border-style: solid;
  border-width: 0.5px;
    border-color: rgb(203, 203, 203);
  border-radius: 10px;
  font-size: clamp(0.2rem, 1vw + 0.2dvh, 10rem);
  padding: 1%;

  background-color: rgb(247, 250, 255);
}

.gray{
  color: gray;
  
}

.green{
  color: #005F69;
  font-weight: bold;
}

.green a{
  text-decoration: none;
  color: #005F69;
}

@media(max-width: 1000px) and (min-width: 601px){

  .about-main{
    width: 96%;
    margin-left: 0;
    padding-bottom: 20%;

  }

  .top-half{
    padding: 1%;
  }

  .ab-info{
    font-size: clamp(0.2rem, 1.9vw, 10rem);
  }

  .ab-info-text{
    font-size: clamp(0.2rem, 1.4vw, 10rem);
  }

  .ab-info button{
    font-size: clamp(0.2rem, 1.8vw, 10rem);
  }

  .ab-imgcon{
    width: 40%;
  }

  .bottom-half{
    flex-direction: column;
    align-items: start;
    font-size: clamp(0.2rem, 1.4vw, 10rem);
  }

  .extra-half{
    font-size: clamp(0.2rem, 1.4vw, 10rem);
  }

} 


@media (max-width: 600px){

  .about-main{
    width: 96%;
    height: 90dvh;
    margin-left: 0;
  }

  .top-half{
    padding: 1%;
  }

  .ab-info{
    font-size: clamp(0.2rem, 2.5vw, 10rem);
    width: 98%;
  } 

  .ab-info-text{
    font-size: clamp(0.2rem, 2vw + 0.1dvh, 10rem);
  }

  .ab-info p{
    font-size: clamp(0.2rem, 4.6vw, 10rem);
  }

  .ab-info button{
    font-size: clamp(0.2rem, 1.8vw, 10rem);
      border-width: 1px;
  }

  .ab-imgcon{
    width: 48%
  }


  .bottom-half{
    flex-direction: column;
    align-items: start;
    font-size: clamp(0.2rem, 2.5vw, 10rem);
  }

  .extra-half{
    font-size: clamp(0.2rem, 2.5vw, 10rem);
  }

}







