.skill-con{

  display: flex;
  flex-direction: column;
  gap: 3%;
  height: 90dvh;
  width: 85%;
  margin-left: -6%;

  font-family: 'Poppins', sans-serif;
  vertical-align: middle;
    overflow-y: auto;

}

.skill-con::-webkit-scrollbar {
  display: none; 
}

.featured, .languages,
 .Frontend, .Backend{
border-style: solid;
border-width: 1px;
border-color: rgb(211, 211, 211);
height: auto;
border-radius: 6px;
padding-left: 4px;
padding-bottom: 5px;
}

.featured p, .languages p,
 .Frontend p, .Backend p{
   font-size: clamp(0.2rem, 2.2vw, 5rem);
  font-weight: bolder;
  color: rgb(3, 178, 122);


 }

 .skill-display{
   font-size: clamp(0.2rem, 1vw, 5rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: auto;

 }

 .single-skill{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  height: fit-content;
  margin-top: 10%;
  position: relative;
 }

.singleskill-info-con{
  width: 80%;
 }

 .single-skill img{
  width: 30%;
  height: 6dvh;

 }

 .single-skill a{
  font-size: clamp(0.01rem, 1vw, 3rem);
  font-weight: bold;
  border-style: solid;
  padding: 2%;
  border-radius: 10px;
  color: rgb(1, 57, 48);
  width: fit-content;
 }

 .prog-value{
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;

 }

.progBar{
  width: 100%;
  height: 0.8dvh;
  border-radius: 100px;
  overflow: hidden;
  background-color: #e5e5e5;
}

.progBar::-webkit-progress-value {
  background-color: rgb(5, 191, 120);
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background-color: #d6cfcf;
  border-radius: 100px;
}
@media(max-width: 1000px) and (min-width: 601px){

  .skill-con{
      width: 100%;
      margin-left: 0;
      overflow-y: visible;
      padding-bottom: 70%;
    }

.skill-display{  
    font-size: clamp(0.2rem, 2vw, 5rem);
    grid-template-columns: 1fr 1fr 1fr;
  }

   .single-skill a{
    font-size: clamp(0.01rem, 1.6vw, 3rem);
  }

} 

@media (max-width: 600px){

  .skill-con{
      height: 90dvh;
      width: 100%;
      margin-left: 0;
    }

    .featured p, .languages p,
 .Frontend p, .Backend p{
   font-size: clamp(0.2rem, 3.2vw, 5rem);
  }

  .skill-display{  
    font-size: clamp(0.2rem, 3vw, 5rem);
    grid-template-columns: 1fr 1fr;
  }

  .single-skill{
    width: 90%;
  }

  .single-skill a{
    font-size: clamp(0.01rem, 2.4vw, 3rem);
  }

}


